.gumb{
    border: 1px solid #6AA6EB;
    border-radius: 5px;
    background-color: #6AA6EB;
    color: white;
    font-size: 14pt;
    height: 40px;

}

div{
    margin-top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.unos{
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 20%;
}

.text{
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    padding: 1%;
    margin-bottom: 2px;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.wrapper{
    display: block;
    overflow: hidden;
    margin: 1%;
}

.wrapper1, .wrapper2{
    display: inline-block;
    margin: 1%;
}